@font-face {
    font-family: "Lato";
    src: url(../assets/Lato-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url(../assets/Lato-Bold.ttf) format("truetype");
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    --background-color: rgb(20, 22, 28);
}

body {
    background: url(../assets/particles.jpg), var(--background-color);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, top left;
    background-attachment: fixed, fixed;
    background-blend-mode: screen, normal;
    background-size: cover, contain;
    font-size: 14px;
    margin: 0;
    overflow-x: hidden;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.4s;
}

#overlay[data-showing='true'] {
    opacity: 1;
}

/* PADDLES */

.paddle {
    position: absolute;
    width: 3px;
    height: 80px;
    top: 40vh;
    cursor: pointer;
    z-index: 4;
    transition: transform 0.2s;
}

.paddle[data-disabled='true'] {
    transform: scale(0);
    transition: transform 0.2s;
}

.paddle.left { left: 10px; }
.paddle.right { right: 10px; }

.hover-detect {
    position: absolute;
    width: 50px;
    top: 0;
    cursor: pointer;
    z-index: 3;
}

.hover-detect[data-disabled='true'] { display: none; }

.hover-detect.left { height: 100vh; left: 0; }
.hover-detect.right { height: calc(100vh - 100px); right: 0; }

.paddle-upper, .paddle-lower {
    width: 3px;
    height: 40px;
    border-radius: 3px 3px 0 0;
    background-color: white;
    transition: transform 0.2s, margin-left 0.2s, margin-right 0.2s;
}

.paddle-lower { margin-top: -3.5px; }

.hover-detect.left:hover ~ .paddle.left .paddle-upper,
.paddle.left:hover .paddle-upper,
.paddle.left.is-active .paddle-upper {
    transform: rotate(20deg);
    margin-left: 5px;
}

.hover-detect.left:hover ~ .paddle.left .paddle-lower,
.paddle.left:hover .paddle-lower,
.paddle.left.is-active .paddle-lower {
    transform: rotate(-20deg);
    margin-left: 5px;
}

.hover-detect.right:hover ~ .paddle.right .paddle-upper,
.paddle.right:hover .paddle-upper,
.paddle.right.is-active .paddle-upper {
    transform: rotate(-20deg);
    margin-right: 5px;
}

.hover-detect.right:hover ~ .paddle.right .paddle-lower,
.paddle.right:hover .paddle-lower,
.paddle.right.is-active .paddle-lower {
    transform: rotate(20deg);
    margin-right: 5px;
}


/* THE BOTTOM TOOLBAR THINGY */

#bottom-widget {
    position: absolute;
    width: 300px;
    height: 100px;
    right: 0;
    bottom: 0;
    z-index: 4;
}

#bottom-widget .container {
    position: absolute;
    padding: 0px;
    width: 3px;
    height: 28px;
    right: 10px;
    bottom: 10px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px) brightness(600%) saturate(60%);
    overflow: hidden;
    /* transition hide */
    transition: all 0.2s ease-in;
}

#bottom-widget .container * {
    opacity: 0;
    overflow: hidden;
    word-wrap: none;
    white-space: nowrap;
    transition: all 0s linear 0.2s;
}

#bottom-widget .container h3 {
    margin-bottom: 8px;
}

#bottom-widget .container p {
    margin: 2px 0;
}

#bottom-widget .container .more {
    margin-top: 6px;
}

#bottom-widget .container .more a {
    color: black !important;
}

#bottom-widget:hover .container,
#bottom-widget .container:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    padding: 0 12px;
    width: 220px;
    height: 120px;
    right: 16px;
    bottom: 16px;
    /* transition show */
    transition:
        padding 0.6s cubic-bezier(.82,.31,.61,.99),
        width 0.6s cubic-bezier(.82,.31,.61,.99),
        height 0.6s cubic-bezier(.82,.03,.61,.99),
        right 0.6s cubic-bezier(.4,12,.37,1.22),
        bottom 0.6s cubic-bezier(.4,3.11,.37,1.22);
}

#bottom-widget:hover .container *,
#bottom-widget .container:hover * {
    opacity: 1;
    transition: all 0s;
}
