@font-face {
    font-family: "Lato";
    src: url(icons/Lato-Light.ttf) format("truetype");
}

::-webkit-scrollbar {
    width: 0px;
}

html {
    --background-color: rgb(16, 21, 30);
}

body[preload],
body[preload] * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

body {
    background-color: var(--background-color);
    margin: 0;
}


/* LEFT PADDLE */

#paddle-left {
    position: absolute;
    width: 3px;
    height: 80px;
    top: 40vh;
    left: 10px;
    cursor: pointer;
    z-index: 2;
}

#hover-detect-left {
    z-index: 1;
    position: absolute;
    width: 20px;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: pointer;
}

#paddle-left .paddle-upper {
    width: 3px;
    height: 40px;
    border-radius: 3px 3px 0px 0px;
    background-color: white;
    transition: transform 0.2s, margin-left 0.2s;
}

#hover-detect-left:hover~#paddle-left .paddle-upper,
#paddle-left:hover .paddle-upper,
#paddle-left.is-active .paddle-upper {
    transform: rotate(20deg);
    margin-left: 5px;
    transition: transform 0.2s, margin-left 0.2s;
}

#paddle-left .paddle-lower {
    width: 3px;
    height: 40px;
    margin-top: -5px;
    border-radius: 3px 3px 0px 0px;
    background-color: white;
    transition: transform 0.2s, margin-left 0.2s;
}

#hover-detect-left:hover~#paddle-left .paddle-lower,
#paddle-left:hover .paddle-lower,
#paddle-left.is-active .paddle-lower {
    transform: rotate(-20deg);
    margin-left: 5px;
    transition: transform 0.2s, margin-left 0.2s;
}


/* RIGHT PADDLE */

#paddle-right {
    position: absolute;
    width: 3px;
    height: 80px;
    top: 40vh;
    right: 10px;
    cursor: pointer;
    z-index: 2;
}

#hover-detect-right {
    z-index: 1;
    position: absolute;
    width: 20px;
    height: calc(100vh - 48px);
    top: 0;
    right: 0;
    cursor: pointer;
}

#paddle-right .paddle-upper {
    width: 3px;
    height: 40px;
    border-radius: 3px 3px 0px 0px;
    background-color: white;
    transition: transform 0.2s, margin-left 0.2s;
}

#hover-detect-right:hover~#paddle-right .paddle-upper,
#paddle-right:hover .paddle-upper,
#paddle-right.is-active .paddle-upper {
    transform: rotate(-20deg);
    margin-right: 5px;
    transition: transform 0.2s, margin-left 0.2s;
}

#paddle-right .paddle-lower {
    width: 3px;
    height: 40px;
    margin-top: -5px;
    border-radius: 3px 3px 0px 0px;
    background-color: white;
    transition: transform 0.2s, margin-left 0.2s;
}

#hover-detect-right:hover~#paddle-right .paddle-lower,
#paddle-right:hover .paddle-lower,
#paddle-right.is-active .paddle-lower {
    transform: rotate(20deg);
    margin-right: 5px;
    transition: transform 0.2s, margin-left 0.2s;
}


/* THE BOTTOM TOOLBAR THINGY */

#bottom-toolbar {
    position: absolute;
    width: 100vw;
    height: 28px;
    bottom: 10px;
    direction: rtl;
    font-size: 0;
    overflow-x: hidden;
}

#bottom-toolbar .overlay {
    position: relative;
    width: 10px;
    height: 28px;
    background-color: var(--background-color);
    display: inline-block;
    vertical-align: top;
    z-index: 2;
}

#bottom-toolbar .paddle-toolbar {
    position: relative;
    width: 3px;
    height: 28px;
    border-radius: 3px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    z-index: 2;
}

#bottom-toolbar .icons-container {
    position: relative;
    width: fit-content;
    height: 28px;
    transform: translateX(164px);
    transition: transform 0.4s;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
}

#bottom-toolbar .overlay:hover~.icons-container,
#bottom-toolbar .paddle-toolbar:hover~.icons-container,
#bottom-toolbar .icons-container:hover {
    transform: translateX(0px);
    transition: transform 0.4s;
}

#bottom-toolbar .icons-container .icon {
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 8px;
    margin-top: 2px;
    font-size: 19px;
    color: black;
    background-color: white;
    border-radius: 28px;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    cursor: pointer;
    color: dodgerblue;
}