#section_2 {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 10vw;
    transition: left 0.4s, opacity 0.4s;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#section_2[focused] {
    pointer-events: all;
    left: 0;
    opacity: 1;
    transition: left 0.4s, opacity 0.4s;
}

.converter {
    width: calc(100% - 40px);
    margin-left: 20px;
    font-size: 8vw;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
    font-variant-numeric: tabular-nums;
    color: white;
    font-family: "Lato", sans-serif;
}

.converter.solar {
    margin-top: calc(14vh + 20px);
}

.converter.moon {
    margin-top: 4vw;
}

.converter .adjust-row {
    height: 38px;
    font-size: 0;
}

.converter .adjust-row td {
    font-size: 20px;
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.2s;
}

.converter .adjust-row td:hover {
    opacity: 1;
}

#section_2 .age {
    font-size: 1.2em;
    color: white;
    font-family: "Lato", sans-serif;
    margin-left: 40px;
    text-decoration: underline;
    cursor: pointer;
}

#section_2 .age:hover {
    opacity: 0.8;
}